<html>
<head>
    <script type="text/javascript" src="/static/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/static/js/sigma.min.js"></script>
    <script type="text/javascript" src="/static/js/plugins/supervisor.js"></script>
    <script type="text/javascript" src="/static/js/plugins/worker.js"></script>

    <style type="text/css">
        #derp {
          width: 100%;
          height: 100%;
          display: block;
          border: 1px solid lightgray;
        }
    </style>
</head>
<body>
<div id="derp"></div>
<h1>Gene Net</h1>
<h1>Hi there fren!</h1>
  <script>
    // Let's first initialize sigma:
    var s = new sigma('derp');
    var graph = s.graph;

    s.settings({
      labelThreshold: 50,
      autoRescale: false
    });

    // Then, let's add some data to display:
    // graph.addNode({
    //   // Main attributes:
    //   id: 'n0',
    //   label: 'Hello',
    //   // Display attributes:
    //   x: 0,
    //   y: 0,
    //   size: 1,
    //   color: '#f00'
    // }).addNode({
    //   // Main attributes:
    //   id: 'n1',
    //   label: 'World !',
    //   // Display attributes:
    //   x: 1,
    //   y: 1,
    //   size: 1,
    //   color: '#00f'
    // }).addEdge({
    //   id: 'e0',
    //   // Reference extremities:
    //   source: 'n0',
    //   target: 'n1'
    // });


    // Load edges and nodes from API through AJAX
    $.get('/api/nodes', function(data) {
        i = 0
        N = data.length
        for(node of data) {
            i += 1
            // console.log(i)
            graph.addNode({
                id: node.id,
                label: node.label,

                x: Math.random()*1000*Math.cos(2 * i * Math.PI / N),
                y: Math.random()*1000*Math.sin(2 * i * Math.PI / N),
                size: 5,
                color: '#'+Math.floor(Math.random()*16777215).toString(16)
            })
        }
        s.refresh();
        
        $.get('/api/edges', function(data) {
            num = 1
            for(edge of data) {
                graph.addEdge({
                    id: 'e' + num,
                    source: edge.from,
                    target: edge.to
                })
                num += 1
            }
            s.refresh();
            s.startForceAtlas2({worker: true, barnesHutOptimize: true, scalingRatio: 3, gravity: 1});
            setTimeout(function() {
                s.killForceAtlas2()
                console.log("killed force atlas")
            }, 5000)
        })
    })



    // Finally, let's ask our sigma instance to refresh:
    s.refresh();
  </script>
</body>
</html>