<html>
<head>
    <script type="text/javascript" src="/static/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/static/js/sigma.min.js"></script>
    <script type="text/javascript" src="/static/js/plugins/supervisor.js"></script>
    <script type="text/javascript" src="/static/js/plugins/worker.js"></script>
    <script type="text/javascript" src="/static/js/plugins/animate.js"></script>
    <script type="text/javascript" src="/static/js/plugins/noverlap.js"></script>


    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style type="text/css">
        #derp {
          width: 100%;
          height: 90%;
          display: block;
          border: 1px solid lightgray;
        }
    </style>
</head>
<body>
<!--   <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="">Gene Net</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
      <li class="active"><a href="/">Home</a></li>
      <li class="active"><a href="/visual">Visual Network</a></li>
      <li class="active"><a href="/data">Database</a></li>
    </ul>
    </div>
  </nav> -->
    <nav class="navbar navbar-expand-lg navbar-light bg-faded">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Gene Net</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbarNavDropdown" class="navbar-collapse collapse">
            <ul class="navbar-nav mr-auto">
              <!--needed for the other to be on the right-->
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/visual">Visual Network</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/data">Database</a>
                </li>
            </ul>
        </div>
      </div>
    </nav>
  
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <div id='derp'></div>
      </div>
      <div class="col-sm-4">
        <div class="table-responsive">  
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
          <th class="col-md-3">Info Type</th> 
          <th class="col-md-3"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">PMID</th>
          <td>23414</td>
        </tr>
        <tr>
          <th scope="row">Gene Name</th>
          <td></td>
        </tr>
        <tr>
          <th scope="row">Gene Symbol</th>
          <td></td>
        </tr>
        <tr>
          <th scope="row">Gene Type</th>
          <td></td>
        </tr>
        <tr>
          <th scope="row">Location</th>
          <td></td>
        </tr>
        <tr>
          <th scope="row">Locus</th>
          <td></td>
        </tr>
        <tr>
          <th scope="row">Gene Length</th>
          <td></td>
        </tr>
        <tr>
          <th scope="row">Exon</th>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
      </div>
    </div>
  </div>
  <script>
    // Let's first initialize sigma:
    var s = new sigma('derp');
    var graph = s.graph;

    s.settings({
      labelThreshold: 50,
      autoRescale: false,
      edgeHoverSizeRatio: 3
    });

    // possibly keep track of edge map?
    var edgeMap = {}

    // Load edges and nodes from API through AJAX
    $.get('/api/nodes', function(data) {
        i = 0
        N = data.length
        for(node of data) {
            i += 1
            // console.log(i)
            graph.addNode({
                id: node.id,
                label: node.label,

                x: Math.random()*300*Math.cos(2 * i * Math.PI / N),
                y: Math.random()*300*Math.sin(2 * i * Math.PI / N),
                size: 2,
                color: '#'+Math.floor(Math.random()*16777215).toString(16)
            })
            edgeMap[node.id] = [];
        }
        s.refresh();
        
        $.get('/api/edges', function(data) {
            num = 1
            for(edge of data) {
                graph.addEdge({
                    id: 'e' + num,
                    source: edge.from,
                    target: edge.to
                })
                num += 1
                edgeMap[edge.from].push(edge.to)
            }
            s.refresh();
            // s.startForceAtlas2({worker: true, barnesHutOptimize: true, scalingRatio: 3, gravity: 1});
            // setTimeout(function() {
            //     s.killForceAtlas2()
            //     console.log("killed force atlas")
            // }, 1000)
        })
    })

    var config = {
      nodeMargin: 3.0,
      scaleNodes: 1.3
    };

    // Configure the algorithm
    var listener = s.configNoverlap(config);

    // Bind all events:
    listener.bind('start stop interpolate', function(event) {
      console.log(event.type);
    });

    // Start the algorithm:
    s.startNoverlap();

    s.bind("clickNode", function (params) {
      // console.log(params)
      
      var node = params.data.node;
      var nodeId = node.id;

      console.log(node)

      // sigma.plugins.animate(
      //   s,
      //   {
      //     x: 1500,
      //     y: 1500,
      //     // size: 'to_size',
      //     // color: 'to_color'
      //   },
      //   {
      //     nodes: [nodeId],
      //     easing: 'cubicInOut',
      //     duration: 1000,
      //     onComplete: function() {
      //       // do stuff here after animation is complete
      //       console.log("i finished my dude")
      //     }
      //   }
      // );
      console.log(nodeId)

      // TODO populate the table
    });
    
  </script>
</body>
</html>