<html>
<head>
    <link rel="shortcut icon" type="image/png" href="/static/favicon.png"/>

    <script type="text/javascript" src="/static/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/static/js/sigma.min.js"></script>
    <script type="text/javascript" src="/static/js/plugins/supervisor.js"></script>
    <script type="text/javascript" src="/static/js/plugins/worker.js"></script>
    <script type="text/javascript" src="/static/js/plugins/animate.js"></script>
    <script type="text/javascript" src="/static/js/plugins/noverlap.js"></script>


    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style type="text/css">
        #derp {
          width: 100%;
          height: 90%;
          display: block;
          border: 1px solid lightgray;
        }
    </style>
</head>
<body>
<!--   <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="">Gene Net</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
      <li class="active"><a href="/">Home</a></li>
      <li class="active"><a href="/visual">Visual Network</a></li>
      <li class="active"><a href="/data">Database</a></li>
    </ul>
    </div>
  </nav> -->
  <nav class="navbar navbar-expand-lg navbar-light bg-faded">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Gene Net</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div id="navbarNavDropdown" class="navbar-collapse collapse">
        <ul class="navbar-nav mr-auto">
          <!--needed for the other to be on the right-->
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/visual">Visual Network</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/data">Database</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  
  <div class="container">
    <div class="row">
      <div class="col-sm-8" id='derp-father'>
        <div id='derp'></div>
      </div>
      <div class="col-sm-4">
        <div class="table-responsive">  
          <table class="table table-striped table-bordered table-hover">
            <thead>
              <tr>
                <th>Name</th> 
                <td id='gene-name'></td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">PMID</th>
                <td id='pmid'></td>
              </tr>
              <tr>
                <th scope="row">Gene Symbol</th>
                <td id='gene-symbol'></td>
              </tr>
              <tr>
                <th scope="row">Gene Type</th>
                <td id=gene-type></td>
              </tr>
              <tr>
                <th scope="row">Location</th>
                <td id=location></td>
              </tr>
              <tr>
                <th scope="row">Locus</th>
                <td id=locus></td>
              </tr>
              <tr>
                <th scope="row">Exon</th>
                <td id=exon></td>
              </tr>
            </tbody>
          </table>
        </div>
        <h4>Search for PMID/Gene Symbol:</h4>
        <div class="alert alert-danger" role="alert" id='warn' style="display: none;"></div>
        <div class="input-group mb-3">
          <input id='txt_field' class="form-control">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" onClick='queryIdFromText()'>Search!</button>
          </div>
        </div>
        <button class="btn btn-primary" onClick='reset()'>Reset Graph</button>
      </div>
    </div>
  </div>
  <script>
    var pmidData={}
    function queryId(id) {    
        $.ajax({
            url:'/api/pmid',
            data:{
                pmid: id
            },
            success: function(data) {
                console.log(data),
                $('#pmid').html(id);
                $('#gene-name').html(data['Official Full Name']);
                $('#gene-symbol').html(data['Official Symbol']);
                $('#gene-type').html(data['Gene type']);
                $('#location').html(data['Chromosome']);
                $('#locus').html(data['Location']);
                $('#exon').html(data['Exon count']);
            },
            type: 'GET',
        });
    }

    function queryIdFromText() {
      var rawr1 = $('#txt_field').val()
      rawr = rawr1.toUpperCase();

      if(rawr == '' || (!idToName.hasOwnProperty(rawr) && !nameToId.hasOwnProperty(rawr))) {
        $('#warn').html(rawr1 + " is not a valid input");
        $('#warn').show()
        return
      }

      if(nameToId.hasOwnProperty(rawr)) {
        rawr = nameToId[rawr]
      }


      queryId(rawr);
      drawLoop(rawr);
      $('#txt_field').val('')
      $('#warn').val('')
      $('#warn').hide()
    }

    $('#txt_field').keypress(function (e) {
      var code = e.keyCode || e.which;
      if (code === 13) {
        queryIdFromText() /*add this, if you want to submit form by pressing `Enter`*/
      }
    });


    // Let's first initialize sigma:
    var s = new sigma('derp');
    var graph = s.graph;

    s.settings({
      labelThreshold: 50,
      autoRescale: false,
      edgeHoverSizeRatio: 3
    });

    var nodes;
    var edges;

    var finishedIds = {};
    var circleRadius = 50;

    // possibly keep track of edge map?
    var edgeMap = {};
    nameToId = {};
    idToName = {};

    // Load edges and nodes from API through AJAX
    $.get('/api/nodes', function(data) {
        nodes = data;
        var i = 0
        var N = data.length
        for(node of data) {
            i += 1
            graph.addNode({
                id: node.id,
                label: node.label,

                x: Math.random()*300*Math.cos(2 * i * Math.PI / N),
                y: Math.random()*300*Math.sin(2 * i * Math.PI / N),
                size: 2,
                color: '#'+Math.floor(Math.random()*16777215).toString(16)
            })
            edgeMap[node.id] = [];
            nameToId[node.label] = node.id;
            idToName[node.id] = node.label;
        }
        s.refresh();
        
        $.get('/api/edges', function(data) {
            edges = data;
            var num = 1
            for(edge of data) {
                graph.addEdge({
                    id: 'e' + num,
                    source: edge.from,
                    target: edge.to
                })
                num += 1
                edgeMap[edge.from].push(edge.to)
            }
            s.refresh();
        })
    })

    var config = {
      nodeMargin: 3.0,
      scaleNodes: 1.3
    };

    // Configure the algorithm
    var listener = s.configNoverlap(config);

    // Bind all events:
    listener.bind('start stop interpolate', function(event) {
      console.log(event.type);
    });

    // Start the algorithm:
    s.startNoverlap();

    s.bind("clickNode", function (params) {
      
      var node = params.data.node;
      var nodeId = node.id;

      queryId(nodeId);
      drawLoop(nodeId);
    });

    function drawLoop(parentId) {
      // use finishedIds global variable
      graph.clear()
      // clear the graph
      $('#derp').remove(); 
      $('#derp-father').html('<div id="derp"></div>');

      s = new sigma('derp');
      graph = s.graph;

      s.settings({
        labelThreshold: 50,
        autoRescale: true,
        edgeHoverSizeRatio: 3
      });

      // unsure about size so far
      parentSize = 16;
      graph.addNode({
        id: parentId,
        label: idToName[parentId],
        x: 0,
        y: 0,
        size: parentSize,
        color: '#'+Math.floor(Math.random()*16777215).toString(16)
      });

      finishedIds = {};
      finishedIds[parentId] = true;
      // s.refresh();

      function addChildren(parentId, parentSize, startRadians, endRadians, x, y, levels) {
        // s.refresh();
        var childSize = parentSize/2;

        // first add children to graph and to finishedIds
        var i = 0;
        var children = new Set(edgeMap[parentId])
        var N = children.size;

        var r = Math.sqrt(x*x+y*y);

        if(N == 0) {
          return
        }

        var sliceSize = (endRadians-startRadians)/N;

        // maintains children to start/end radians
        var managementMap = {}
        var nodesToAdd = [];
        

        for(childId of children) {
          managementMap[childId] = {};

          managementMap[childId]['x'] = (r+circleRadius/levels)*Math.cos(startRadians+i*sliceSize);
          managementMap[childId]['y'] = (r+circleRadius/levels)*Math.sin(startRadians+i*sliceSize);
          managementMap[childId]['startRadians'] = startRadians+i*sliceSize;
          managementMap[childId]['endRadians'] = startRadians+(i+1)*sliceSize;

          if(finishedIds[childId] === undefined) {
            graph.addNode({
              id: childId,
              label: idToName[childId],
              x: managementMap[childId]['x'],
              y: managementMap[childId]['y'],
              size: childSize,
              color: '#'+Math.floor(Math.random()*16777215).toString(16)
            });
            nodesToAdd.push(childId)
          }          

          // second add edges to children in graph
          graph.addEdge({
            id: 'e' + parentId + '_' + childId,
            source: parentId,
            target: childId,
            size: childSize/8
          });

          finishedIds[childId] = true;
          i += 1;
        }
        // s.refresh();
        // recurse for each child of original parent
        for(childId of nodesToAdd) {
          var x2 = managementMap[childId]['x']
          var y2 = managementMap[childId]['y']
          var startRadians2 = managementMap[childId]['startRadians']
          var endRadians2 = managementMap[childId]['endRadians']
          
          addChildren(childId, childSize, startRadians2, endRadians2, x2, y2, levels+1)
        }
      }


      // now start adding all of the children
      addChildren(parentId, parentSize, 0, 2*Math.PI, 0, 0, 1);
      s.refresh();
      // s.startNoverlap();

      s.bind("clickNode", function (params) {
        var node = params.data.node;
        var nodeId = node.id;

        queryId(nodeId);
        drawLoop(nodeId);
      });
    }

    function reset() {
      s.kill();
      // clear the graph
      $('#derp').remove(); 
      $('#derp-father').html('<div id="derp"></div>');

      s = new sigma('derp');
      graph = s.graph;

      s.settings({
        labelThreshold: 50,
        autoRescale: false,
        edgeHoverSizeRatio: 3
      });

      var listener = s.configNoverlap(config);

      // Bind all events:
      listener.bind('start stop interpolate', function(event) {
        console.log(event.type);
      });

      // Start the algorithm:
      s.startNoverlap();

      var i = 0
      var N = nodes.length
      for(node of nodes) {
          i += 1
          graph.addNode({
              id: node.id,
              label: node.label,

              x: Math.random()*300*Math.cos(2 * i * Math.PI / N),
              y: Math.random()*300*Math.sin(2 * i * Math.PI / N),
              size: 2,
              color: '#'+Math.floor(Math.random()*16777215).toString(16)
          })
      }

      var num = 1
      for(edge of edges) {
          graph.addEdge({
              id: 'e' + num,
              source: edge.from,
              target: edge.to
          })
          num += 1
          edgeMap[edge.from].push(edge.to)
      }
      s.refresh();

      s.bind("clickNode", function (params) {
        var node = params.data.node;
        var nodeId = node.id;
        queryId(nodeId);
        drawLoop(nodeId);
      });
    }
    
  </script>
</body>
</html>